<h1>Contact Us</h1>
		<p>
		 Below you will find all the contact details of CSIP Solutions.
		</p>
        <h5>Name of Developer</h5>
		<p>
			Bongumusa Ryan Mkungo <br/>
			CSIP6833 <br/>
			University of the Free State
		</p>
		<h5>Physical Address</h5>
		<p>
			123 Du Plessis Avenue, Langenhoven Park<br />
			Bloemfontein, 9301
		</p>
		<h5>Phone</h5>
		<p>
			+27 51 401 123<br/>
			Mon to Fri 9am to 6pm
		</p>
		<h5>Email</h5>
		<p>
			info@expenses.co.za<br/>
			Send us your query anytime!
		</p>
		<!-- End of page content -->
		
		<hr />
	
		<p>
			Call us now: (051) 401-123
		</p>
		<p>
			Send us a message:  <a href = "mailto:info@expenses.co.za">info@expenses.co.za</a>
		</p>
		<p>
			Copyright &copy; 2022 UFS - All rights reserved
		</p>
