
<div class="row">
<form class="row g-3" [formGroup]="form" (ngSubmit)="form.valid && onSubmit(expense)"  autocomplete="off" >
    <h2>Add Expense</h2>
    <div class="col-auto"> <app-text-input 
        [formControl]='form.controls["description"]'
          [label]='"Description"' ></app-text-input></div>
          <div class="col-auto"><app-text-input [formControl]='form.controls["amount"]'
            [label]='"Amount"'></app-text-input></div>
      <div class="col-auto"><app-date-input [formControl]='form.controls["date"]'
        [label]='"Date"'></app-date-input></div>           
 <div class="col-auto">
    <button [disabled]='!form.valid' class="btn btn-primary m-3" type="submit">Add Expense</button>
  </div>
</form>

    <h2>My Expenses</h2>
    <table class="table">
        <tr>
            <th style="width: 30%">Description</th>
            <th style="width: 40%">Amount</th>
            <th style="width: 30%">Date</th>
            <th style="width: 30%"></th>
        </tr>
        <tr [hidden]="loading" *ngFor="let expense of expenses">
            <td>{{expense.description}}</td>
            <td>{{expense.amount}}</td>
            <td>{{expense.date}}</td>
            <td>
                <button (click)="editExpense(expense.id)"  class="btn btn-info">Edit</button>
            </td>
            <td>
                <button (click)="deleteExpense(expense.id)"  class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </table>
</div>



<div class="d-flex justify-content-center" *ngIf="pagination && !loading">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;">
    </pagination>
</div>